*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.dataContainer{
    margin-left:100px;
    margin-right: 200px;



}
.dataContainer h1 {
    text-align: center;
}
h3{
    display: inline;
}
.raw-lists-header{
    display: inline;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 5px solid black;
    padding-right:300px;
    margin-bottom: 50px;
    
  }
  .delete{
    background-color: #ffffff;

    margin-left:800px;
    border:5px  solid black;
    color:black;
    list-style-type: none
    ;
    box-shadow: 1px 0 2px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 40%;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }

  #authorTitle{
    width:300px;
  }
.remove-button{
margin-left:300px;
padding:10px;
}






/* //form style */
.formCon{
    margin: top 25%;;
}
.form h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin:30px auto;
  }
  
  #add-new-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 400px;
    margin: auto;
  }
  
  .book-title,
  .book-author {
    border: 3px solid black;
    width: 400px;
    font-weight: 500;
    height: 30px;
  }
  
  #add-btn {
    padding: 7px 15px;
    background-color: white;
    border: 2px solid black;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 5px 5px 0 2px;
    align-self: flex-end;
  }

  /* style for navigation,lists */

  header{
    background-color: orange;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 15px 0px;
  }
  .logo a{
    font-size: 30px;
    text-decoration: none;
    color:red;
  }
  header ul{
    display:flex;
    background-color: rgb(238, 163, 23);

    
  }
  header ul li{
    margin-right: 20px;
    list-style-type: none;
    cursor: pointer;
  }